{% extends 'base.html' %}
{% block title %}
    AULA 1 - HTML
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #0275b8;">
    <figure><img src="static/img/logo-web.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>HTML</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">ESTRUTURA PRINCIPAL HTML</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>Todo documento HTML apresenta elementos entre os sinais de "<" e ">". Esses elementos são as tags HTML, que são os comandos 
                de formatação da linguagem. A maioria das "etiquetas" tem sua correspondente de fechamento, representada com uma "/". Por 
                exemplo:</p><br/>

            <p>Isso é necessário porque as etiquetas servem para definir a formatação de uma porção de texto, e assim marcando o inicio 
                e o fim com a formatação especificada por elas. No entanto, há algumas tags que não possuem fechamento, conhecidas como 
                Self closing tags. Um exemplo disso é o br, utilizado para quebrar linhas.</p> <br/>
        </div>
            
        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/tag-exemplo.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <div class="alert alert-primary" role="alert">
            <p> NOTA: Podemos utilizar qualquer tipo de editor de texto para construirmos nossas páginas HTML. Então fique a vontade para 
                escolher um editor que mais te agrade. Lembrando que para executarmos nosso trabalho, o documento precisa ter a extensão 
                .html, por exemplo: pagina.html. </p> 
        </div> <br/>

        <p>Há algumas tags essenciais que formam a estrutura básica de uma página. No HTML5, o documento padrão recebe a seguinte 
            estrutura:</p> <br/>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/estrutura.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <div class="lista-curso">
            <li><b> DOCTYPE html5 </b>: A tag !DOCTYPE informa ao browser a versão do HTML que está sendo utilizada no documento. 
                Nesse caso, a versão é a 5.</li> <br/>

            <li><b> html </b>: Tag que contêm todos os elementos do seu documento. Sendo assim, todo documento HTML deve 
                iniciar e finalizar com essa tag.</li> <br/>

            <li><b> head </b>: Essa tag delimita o cabeçalho do documento. Nelas são armazenados os metadados da página de maneira 
                invisível pra o usuário, aparacendo apenas o título na aba do navegador.</li> <br/>

            <li><b> title </b>: Essa tag define o título da sua página, o nome que aparecerá na aba.</li> <br/>

            <li><b> meta </b>: Essa tag permite inserir metadados ao seu documento.</li> <br/>

            <li><b> body </b>: Finalmente, a tag que contêm a parte vísivel de uma página.</li> <br/>  
        </div>

        <br/>
        <h1 class="titulo_curso">EXERCÍCIO</h1>
        <hr> <br/>

        <div class="lista-curso">
            <ol>
                <li>O que é html? E qual as tags básicas para a estrutura principal? <br/> 
                    <button type="button" class="collapsible">Resposta</button>
                    <div class="cont">
                        <p> <br/> HTML é uma linguagem de marcação que tem o objetivo de exibir, estruturar e organizar documentos web através de
                        marcações especiais denominadas tags, para que possam ser exibidos de forma apropriada por meio dos browsers quando um
                        usuário solicita uma página. As tags básicas são: html, head, body e title.</p>
                    </div></li> 
            </ol>  
        </div>


        <a href="{{url_for('aula2H')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
    </div>    
        
</section>

{% endblock %}