{% extends 'base.html' %}
{% block title %}
    AULA 2 - SISTEMAS OPERACIONAIS
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #1f4988;">
    <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>O.S.</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">SISTEMA DE ARQUIVOS</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>Em programação, os processos são considerados como uma divisão das requições em execução dos softwares, 
                podendo ser requisições de aplicativos ou até mesmo do sistema. Essas divisões são chamadas de tarefas, 
                e elas podem ser executadas em plano de fundo e mantêm o sistema trabalhando - gerenciando redes, memória, 
                disco, checagem antivírus, etc. Logo, podemos definir processos como softwares que executam alguma ação e que 
                podem ser controlados de alguma maneira, seja pelo usuário, pelo aplicativo correspondente ou pelo sistema operacional.</p>
        </div>

        <br/>
        <h1 class="titulo_curso">ESCALONAMENTO DE PROCESSOS</h1>
        <hr> <br/>
        <div class="texto-curso">
                <p>O escalonamento de processos é um artifício do Sistema Operacional responsável por decidir o momento em que cada 
                    processo obterá a CPU. É utilizado algoritmos de escalonamento que estabelecem a lógica de tal decisão. Nesse 
                    momento de decidir qual escalonador será utilizado no sistema operacional, cabe avaliar o cenário que o sistema 
                    será utilizado. Segue dois cenários de escalonamento:</p> 
        </div> <br/>

        <div class="lista-curso">
            <li><b>O Escalonamento Não Preemptivo </b>: que ocorre apenas em situações que praticamente obrigam que uma decisão seja 
                tomada. Esse cenário tem as seguintes condições: Criação de um novo processo; Término de um processo; Processo ser bloqueado; 
                Após alguma interrupção.</li> <br/>

            <li><b>O Escalonamento Preemptivo </b>: que escolhe um processo e lhe concede a CPU durante certo tempo. Findado esse tempo, 
                a CPU é de outro processo. Esse cenário tem as seguintes condições: Criação de um novo processo; Término de um processo; 
                Processo ser bloqueado; Após alguma interrupção; Periodicamente, a cada k intervalos de relógio.</li><br/>
        </div>

        <div class="texto-curso">
            <p>Agora, alguns algoritmos de escalonamento mais conhecidos:</p> 
        </div> <br/>

        <div class="lista-curso">
            <li><b>FIFO </b>: O primeiro processo a entrar é o primeiro a sair.</li> <br/>

            <li><b>Round Robin </b>: O escalonador define uma fatia de tempo para cada processo. Com o fim dessa fatia, o processo 
                escalonado deve ceder seu lugar na CPU para um outro.</li><br/>

            <li><b>Shortest Job First </b>: O processo que menor tempo de execução primeiro.</li> <br/>

            <li><b>Escalonamento Lotérico </b>: O sistema distribui bilhetes aos processos, e faz um sorteio cada vez que precisa 
                selecionar um processo para a CPU.</li><br/>
        </div>

        <br/>
        <h1 class="titulo_curso">GERENCIAMENTO DE MEMÓRIA</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p> O Gerenciador de Memória é a parte do SO que é responsável por cuidar de quais partes da memória estão em uso, quais 
                estão livres, alocar memória a processos quando eles precisam, desalocar quando eles não necessitarem mais e gerenciar 
                a troca dos processos entre a memória principal e o disco. Há diversas abordagens para o gerenciamento de memória:</p> 
        </div><br/>
        
        <div class="lista-curso">
            <li><b>Gerenciamento sem Troca ou Paginação </b>: Movimentação da memória para o disco e vice-versa durante a execução dos 
                processos. Sem troca ou paginação é o caso mais simples.</li> <br/>

            <li><b>Monoprogramação sem Troca ou Paginação </b>: Temos um único processo sendo executado por vez, de forma que o mesmo 
                possa utilizar toda a memória disponível, com exceção da parte reservada ao SO.</li><br/>

            <li><b>Multiprogramação </b>: Vários processos são executados por vez.</li> <br/>

        </div>

        <br/>
        <h1 class="titulo_curso">MEMÓRIA VIRTUAL</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p> Memória virtual é uma técnica que usa a memória secundária como uma cache para armazenamento secundário. Seu objetivo 
                é permitir o compartilhamento seguro e eficiente da memória entre vários programas e remover os transtornos de programação 
                de uma quantidade pequena e limitada na memória principal. Então se sua memória principal(RAM) estiver cheia, será criado 
                uma memória virtual no HD para que o computador não trave.</p> 
        </div><br/>

        <figure class="highlight">
            <pre>
                <img src="/static/img-curso/hello-world.png" alt=""> <br/>
            </pre>
        </figure> 
        <a href="{{url_for('aula3SO')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
    </div>
    
</section>

{% endblock %}