{% extends 'base.html' %}
{% block title %}
    AULA 2 - HTML
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #0275b8;">
    <figure><img src="static/img/logo-web.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>HTML</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">TÍTULOS E TAGS DE TEXTO</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>Para definir Títulos em uma página, utilizamos a tag h1. Atualmente existem seis níveis de títulos que vão 
                    do h1 até o h6. Quanto maior o número da tag, menor é o tamanho da fonte. Digite o exemplo abaixo e teste você mesmo!</p>
        </div>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/titulos.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <div class="texto-curso">
            <p>Já falamos dos títulos, agora precisamos abordar outra parte essencial nas nossas páginas, os textos. As tags de texto definem 
                textos, estilos de fonte, parágrafos, etc.</p>
        </div> <br/>

        <div class="lista-curso">
            <li><b> p </b>: Principal tag de texto, constrói um parágrafo.</li> <br/>

            <li><b> b </b>: Transforma o conteúdo em negrito.</li> <br/>

            <li><b> i </b>: Transforma o conteúdo em itálico.</li> <br/>

            <li><b> hr </b>: Forma uma linha horizontal e não necessita de fechamento.</li> <br/>

        </div>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/tags-texto.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <br/>
        <h1 class="titulo_curso">TABLES</h1>
        <hr> <br/>
        <div class="texto-curso">
                <p>O uso de tabelas melhora muito a aparência de uma página pois permite o alinhamento de textos e imagens, além de ordenar 
                    as informações de uma forma padronizada.</p>
                
                <p>Uma tabela é constituída de linhas, colunas e células. Elas são criadas pela tag table, suas linhas são criadas pela 
                    tag tr e as células de uma linha são organizadas pelas tags td ou th (células de título). Veja o código a seguir e 
                    reproduza no seu editor:</p> <br/>
        </div> <br/>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/tabela.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <div class="alert alert-primary" role="alert">
            <p> NOTA: Utilize o atributo Border para as bordas da tabela aparecerem.</p> 
        </div> <br/>

        <br/>
        <h1 class="titulo_curso">EXERCÍCIOS</h1>
        <hr> <br/>

        <div class="lista-curso">
            <ol>

                <li>Faça uma página em branco com dois títulos.</li> <br/>

                <li>Utilizando os títulos já feitos faça no mínimo 2 parágrafos sobre cada um deles.</li> <br/>

                <li>Faça uma tabela com as seguinte informações (Cidades e seus habitantes): Cidade: Salvador. Habitantes: 2,677 milhões. 
                    Cidade: São Paulo. Habitantes: 12,18 milhões. Cidade: Pernambuco. Habitantes: 9,278 milhões.</li> <br/>
            </ol>  
        </div>
        <a href="{{url_for('aula3H')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
    </div>
</section>
{% endblock %}
