{% extends 'base.html' %}
{% block title %}
    VIRTUAL TEACHING
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #1f4988;">
    <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>LÓGICA</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">ESTRUTURAS DE REPETIÇÃO</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>Essas estruturas são utilizadas para repetir linhas de códigos conforme uma condição ou contador.Isso é muito útil quando 
                queremos executar várias vezes um trecho de código, evitando o problema de um algoritmo imenso. No Visuag, utilizaremos suas 
                principais representantes, ENQUANTO-FACA, REPITA-ATE e PARA-FACA.</p>
        </div><br/>

        <div class="lista-curso">
            <li><b>ENQUANTO-FACA</b>: Esta estrutura de repetição tem um funcionamento semelhante à SE-ENTAO-SENAO, o que diferencia é a 
                repetição de um pedaço de código dentro desse bloco , enquanto este retonar o valor VERDADEIRO. Além disso, é bastante conhecido 
                por ser a estrutura que verifica o estado booleano antes da sua repetição. </li> <br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/enquanto.png" alt=""> <br/>
                </pre>
            </figure> 

            <li><b>REPITA-ATE</b>: Estrutura que se assemelha ao ENQUANTO-FACA, mudando apenas a forma de análise de sua condição, nesse 
                caso, acontece no final da repetição.</li> <br/>
            
            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/repita.png" alt=""> <br/>
                </pre>
            </figure> 
                
            <li><b>PARA-FACA </b>: O para-faca é uma estrutura de repetição pré-definida, ele permite que o programador determine o 
                número de vezes que a repetição ocorrerá.</li> <br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/para.png" alt=""> <br/>
                </pre>
            </figure> 
        </div>

        <br/>
        <h1 class="titulo_curso">EXERCÍCIOS</h1>
        <hr> <br/>

        <div class="lista-curso">
            <ol>
                <li>Para que serve as estruturas de repetição? <br/>
                    <button type="button" class="collapsible">Resposta</button>
                    <div class="cont">
                        <p> <br/> Com o tempo nossos algoritmos precisarão tomar decisões ao longo de sua
                            execução. Para nos auxiliar nesse contexto, existem as estruturas de decisão, e
                            a mais utilizada é a estrutura SE-ENTÃO-SENÃO. Seu funcionamento é bastante
                            simples, com base no resultado da sua condição, o fluxo do algoritmo segue
                            para um bloco de instruções ou não.</p>
                    </div>
                </li> <br/>

                <li>Faça um algoritmo que calcule e imprima a tabuada do 9.</li> <br/>

                <li>Faça um algoritmo que peça ao usuário a entrada de 5 nomes, e que mostre a lista desses nomes na tela.</li> <br/>

                <li>Construa um programa que leia um conjunto de 15 números inteiros e mostre qual o maior e o menor número fornecido.</li> <br/>
            </ol>  
        </div>

        <a href="{{url_for('index')}}"><button class="button"><span>FINALIZAR </span></button></a>
    </div>
</section>

{% endblock %}