{% extends 'base.html' %}
{% block title %}
    AULA 1 - SISTEMAS OPERACIONAIS
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #1f4988;">
    <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>O.S.</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">HISTÓRIA DOS SISTEMAS OPERACIONAIS</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>Nos primórdios da computação, não existia sistema operacional, havia apenas o hardware do computador. 
                Operador e programador da máquina eram uma só pessoa, ou seja, todas as instruções necessárias ao funcionamento 
                do hardware eram realizadas manualmente. Desta forma, todo o controle do sistema era feito através de botões e displays 
                no console e o operador/programador monitorava a execução de um programa em tempo real. Sendo assim, os sistemas 
                operacionais foram criados com a finalidade de tornar mais fácil e mais eficiente a utilização do computador.</p>

            <p>Na década de 60, os primeiros "sistemas operacionais" eram únicos, pois cada computador era vendido com um sistema 
                operacional específico. Isto gerava grandes problemas, pois resultava em arquiteturas diferentes e de pessoal especializado 
                que entendesse de cada sistema operacional. Após essa fase, iniciou-se a pesquisa de sistemas operacionais que 
                automatizassem as tarefas, pois os sistemas eram monousuários e tinham cartões perfurados como entradas (eliminando, 
                assim, o trabalho de pessoas que eram contratadas apenas para trocar os cartões perfurados).</p>

            <p>Em 1953, surgiu o sistema operacional chamado Multics. A intenção era de que esse sistema tivesse características de tempo 
                compartilhado (vários usuários compartilhando os recursos de um único computador), sendo assim o sistema mais arrojado da 
                época.</p>

            <p>A partir da década de 60, começou a ser desenvolvido o sistema operacional UNIX, que teve em seus princípios muitas 
                inovações do Multics. O UNIX criou um ecossistema de versões e inovações, entre estes, destacam-se: System V e derivados - 
                família BSD (FreeBSD, NetBSD, OpenBSD, etc..), Linux (e derivados), HP-UX, AIX, e até o Mac OS X (que é uma variante dos BSDs). 
                Em 1973, ele foi reescrito na recém inventada Linguagem C.</p>

            <p>Na década de 70, quando começaram a surgir os primeiros computadores pessoais, houve a necessidade de um sistema operacional 
                de fácil operacionalização. Com isso, em 1980, Bill Gates e Paul Allen, compraram o sistema QDOS batizaram-no de DOS. O DOS 
                fez tanto sucesso que foi utilizado como base para a tão conhecida família Windows. No década de 90, os sistemas operacionai 
                começaram a ganhar forma da maneira que conhecemos hoje.</p>
        </div>

        <br/>
        <h1 class="titulo_curso">ARQUITETURA DE VON NEUMAN</h1>
        <hr> <br/>
        <div class="texto-curso">
                <p>É necessário conhcermos a arquitetura de Von Neuman, para entender o funcionamento básico de um computador e, assim, 
                    poderemos nos aprofundar no curso</p> 

        </div> <br/>

        <center>
            <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/iEVLDKOLgQk" frameborder="0" controls allowfullscreen></iframe>
        </center>

        <br/>
        <h1 class="titulo_curso">TIPOS DE SISTEMAS OPERACIONAIS</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p> Hoje em dia, com o grande desenvolvimento tecnológico no setor de hardware, há uma série de sistemas operacionais 
                com funções específicas para o contexto em que estes são inseridos. Dessa forma, o conhecimento de tal variedade se 
                torna essencial para nós. Os principais tipos são:</p> 
        </div><br/>

        <div class="lista-curso">
                <li><b>Grande porte </b>: São Sistemas Operacionais voltados para o processamento simultâneo de muitos trabalhos com 
                    quantidades volumosas de E/S(entrada e saída). Esses sistemas oferecem normalmente três tipos de serviços: em lote, 
                    processamento de transações e tempo compartilhado.</li> <br/>

                <li><b>Smart Cards </b>: Sistemas operacionais que rodam a partir de pequenos cartões. Um exemplo disso, são os cartões
                    de pagamento.</li><br/>

                <li><b>Tempo Real </b>: Os sistemas de tempo real são caracterizados por terem o tempo como um parâmetro fundamental. 
                    Existem dois tipos de Sistema Operacionais de tempo real, o crítico, onde as ações precisam ocorrer em determinados 
                    instantes, um exemplo disso são sistemas de controle de avião. E o não crítico no qual o descumprimento ocasional de 
                    um prazo é aceitável.</li> <br/>

                <li><b>Embarcado </b>: São sistemas com um simples objetivo e geralmente não sofrem alterações. As smart tv's são 
                    eletrônicos que usam esse tipo de sistema. </li> <br/>

                <li><b>Servidor </b>: Visam uma implementação na rede com alguma finalidade (compartilhamento de impressora, 
                    internet, etc). Um desse tipo é o Windows Server.</li> <br/>

                <li><b>Multiprocessadores </b>: São aqueles SO's que permitem vários processadores em uma placa mãe.</li> <br/>

                <li><b>Pessoais </b>: São os sistemas operacionais que usamos nos PC´s.</li> <br/>

                <li><b>Portáteis </b>: Esse tipo é o mais comum no nosso dia a dia, uma vez que fazem parte dos nossos smartphones e celulares.</li> <br/>
            </div>

            <br/>
            <h1 class="titulo_curso">MULTIPROCESSAMENTO</h1>
            <hr> <br/>
            <div class="texto-curso">
                <p> Multiprocessamento é o uso de duas ou mais CPUs dentro de um único sistema de computador. O termo também se refere à 
                    capacidade de um sistema suportar mais de um processador ou a capacidade de alocar tarefas entre eles. Difere da multitarefa, 
                    pois esta simula a simultaneidade, utilizando-se de vários recursos, sendo o principal o compartilhamento de tempo de uso do 
                    processador entre vários processos. Veja a seguir uma placa mãe de um computador multiprocessado:</p> 
            </div><br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img-curso/multiprocessado.png" alt=""> <br/>
                </pre>
            </figure> 

        <a href="{{url_for('aula2SO')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
    </div>
    
</section>

{% endblock %}