{% extends 'base.html' %}
{% block title %}
    VIRTUAL TEACHING
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #1f4988;">
    <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>LÓGICA</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
            <br/>
            <h1 class="titulo_curso">PRINCIPAIS FUNÇÕES</h1>
            <hr> <br/>
            
            <div class="texto-curso">
                <p>Funções são um conjunto de códigos que visam um resultado. Dessa forma, há algumas funções nativas no Visualg que nos 
                    auxiliará na construção do nossos códigos. Elas são utilizadas, geralmente, para diminuir o tamanho do código e torná-lo 
                    mais fluído. Segue as mais utilizadas:</p>
                
            </div>

            <div class="lista-curso">
                <li><b>Escreva(" ") </b>: Mostra o texto que está escrito entre suas aspas na tela do computador.</li> <br/>
                <li><b>Escreval(" ") </b>: Faz a mesma coisa que a função escreva, a única diferença é que ela pula uma linha.</li> <br/>
                <li><b>Leia( VARIÁVEL ) </b>: Lê o que o usuário digitou e armazena na variável que está entre seus parênteses.</li> <br/>
                <li><b><- </b>: Esse símbolo não é propriamente uma função, mas nos auxíliará bastante. Ele encaminha um valor para uma variável.</li> <br/>
            </div>

            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/encaminhar.png" alt=""> <br/>
                </pre>
            </figure> <br/>

            <br/>
            <h1 class="titulo_curso">VARIÁVEIS</h1>
            <hr> <br/>
            <div class="texto-curso">
                <p>Agora que conhecemos as funções mais utilizadas no Portugol, precisamos conhecer as variáveis, para começar-mos 
                    de vez a programar.</p> 

                <p>As variáveis são um recurso que nossos programas utilizam para armazenar dados na memória do computador para que 
                    sejam manipulados quando conveniente. </p>

                <p>Toda variável deve começar por uma letra e depois conter letras, números ou underline, até um limite de 30 
                    caracteres. Posteriormente, são seguidas por dois pontos e seu tipo de dado. Elas são declaradas da seguinte forma:</p>
            </div>

            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/variaveis.png" alt=""> <br/>
                </pre>
            </figure> <br/>

            <div class="texto-curso">
                <p>Existem quatro tipos de dados primitivos, algumas linguagens subdividem estes tipos de dados em outros 
                    de acordo com a capacidade de memória necessária para cada variável, mas no geral, os tipos de dados primitivos são:</p> <br/>        
            </div> 

            <div class="lista-curso">
                <li><b>INTEIRO </b>: Este é o tipo de dados para valores numéricos negativos ou positivos, sem casas decimais. </li> <br/>

                <figure class="highlight">
                    <pre>
                        <img src="/static/img/img-curso/varint.png" alt=""> <br/>
                    </pre>
                </figure> <br/>

                <li><b>REAL </b>: Este é o tipo de dados para valores numéricos negativos ou positivos, com casas decimais. </li> <br/>

                <figure class="highlight">
                    <pre>
                        <img src="/static/img/img-curso/varreal.png" alt=""> <br/>
                    </pre>
                </figure> <br/>

                <li><b>LÓGICO </b>: Este tipo de dados pode assumir apenas dois valores VERDADEIRO ou FALSO. </li> <br/>

                <figure class="highlight">
                    <pre>
                        <img src="/static/img/img-curso/varlogico.png" alt=""> <br/>
                    </pre>
                </figure> <br/>

                <li><b>CARACETER</b>: Tipo de dados para variáveis que armazenam caracteres.</li> <br/>

                <figure class="highlight">
                    <pre>
                        <img src="/static/img/img-curso/varcarac.png" alt=""> <br/>
                    </pre>
                </figure> <br/>

            </div>

            <div class="texto-curso">                    
                <p> Outro tipo de variável bastante utilizada são os vetores. Um vetor ou variável bidimensional, é normalmente usadas 
                    para armazenar várias variáveis do mesmo tipo, aumenta a eficiencia dos nossos programas. Por exemplo, para armazenar 
                    o nome de 50 alunos, podemos criar apenas um vetor de tamanho 50 no lugar de cinquenta variáveis "aluno".</p> 
            </div> 

            <figure class="highlight">
                <pre>
                    <img src="/static/img/img-curso/vetor.png" alt=""> <br/>
                </pre>
            </figure> <br/>

            <br/>
            <h1 class="titulo_curso">EXERCÍCIOS</h1>
            <hr> <br/>

            <div class="lista-curso">
                <ol>

                    <li>Faça um algoritmo que some dois números e imprima na tela.</li> <br/>

                    <li>Escreva um algoritmo para ler um valor e mostrar na tela o seu antecessor.</li> <br/>

                </ol>  
            </div>
            
            <a href="{{url_for('aula3L')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
        </div>
</section>

{% endblock %}