{% extends 'base.html' %}
{% block title %}
    AULA 4 - HTML
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #295dba;">
    <figure><img src="static/img/logo-web.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>HTML</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">FORMULÁRIOS</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>As tags de formulário são implementadas para obter informações do usuário, realizar cadastros, receber opiniões, realizar 
                login, entre outros. Inicialmente, colocamos a tag form no documento e depois incluimos o conteúdo do formulário. Quando 
                queremos criar campos de preenchimento, devemos utilizar a tag input, enquanto para o campo referente à mensagem, 
                devemos utilizar a tag textarea.</p>
            <p>A tag input possui o atributo type, que varia entre diversos tipos, veja alguns tipos abaixo. Também há o atributo 
                placeholder, que é uma mensagem que ficará disponível na caixa do input enquanto nada for digitado.</p> <br/>
        </div><br/>

        <div class="lista-curso">
            <li><b> input type="text" </b>: Define um campo para receber qualquer caracter.</li> <br/>

            <li><b> input type="email" </b>: Define um campo para receber emails.</li> <br/>

            <li> <b> input type="password" </b>: Define um campo para receber senhas.</li> <br/>

            <li><b> input type=”submit” </b>: Define um botão que servirá para o envio do formulário. </li> <br/>

            <li> <b> input type="date" </b>: Define um campo para recerber datas.</li> <br/>
            
        </div>

        <div class="texto-curso">
            <p>As tags textarea têm a mesma função que o input. No entanto, seu campo de preenchimento é um 
                área extensa que pode ser redimensionada pelo usuário.</p> <br/>
        </div> <br/>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/textarea.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <br/>
        <h1 class="titulo_curso">DIVs</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p>A tag div é utilizada para agrupar elementos com fins de estilo ou para posicionar elementos. Exemplo da estrutura:</p> <br/>

        </div> <br/>

        <figure class="highlight">
            <pre>
                <img src="/static/img/img-curso/div.png" alt=""> <br/>
            </pre>
        </figure> <br/>

        <br/>
        <h1 class="titulo_curso">EXERCÍCIOS</h1>
        <hr> <br/>

        <div class="lista-curso">
            <ol>
                <li>Para que serve a tag div? E como é usada?<br/>
                    <button type="button" class="collapsible">Resposta</button>
                    <div class="cont">
                        <p> <br/> A tag &lt;div&gt; define uma divisão ou seção em um documento HTML.
                            O elemento &lt;div&gt; geralmente é usado como um contêiner para outros elementos
                            HTML para estilizá-los com CSS ou para executar determinadas tarefas com
                            JavaScript.</p>
                    </div></li> <br/>

                <li>Faça um formulário que peça os dados pessoais da pessoa (nome, sobrenome, idade,
                    endereço, cidade, sexo e número de telefone).</li> <br/>

                <li>Faça outro formulário agora que peça e-mail e senha.</li> <br/>
            </ol>  
        </div>

        <a href="{{url_for('index')}}"><button class="button"><span>FINALIZAR</span></button></a>
    </div>
</section>

{% endblock %}