

body{
    margin:0;
    font-family: roboto, sans-serif;
    position: relative;
    padding: 0px;
}

/* header */
header{
    background-color:#050a14;
    position: relative;
    background: linear-gradient(to left, #050a14, #000000);
    height: 75px;
}

#btn-menu{
    display: none;
}

header #menu_icon{
    display: none;
    margin: 10px, 10px;

}

header #menu_icon div{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    display: none;
}

header #form-header-responsive {
    display: none;
    margin-top: 8px;
    position: absolute;
    margin-left: 20px;
}


header form input, #menu ul li form input{
    border: 1px solid #175a8a;
    border-radius: 5px;
    height: 30px;
    background-color: #062545;
    color: #ffffff;
    padding: 0px 5px;
}


header #menu_icon:hover{
    background-color: #172745;
    transition: all .5s;
}

#menu ul {
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content:flex-end;

}


#menu ul li a{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 25px 25px;
    display: block;
    transition: all .5s;

}

#menu ul li a:hover {
    background-color: #172745;
}

#menu ul li form{
    padding: 22px 25px;
    display: block;
}




/** Trocar a cor do placeholder **/

::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
}

/* ---------------------------------------------------------------------- */


/* título da página */
.titulo_pag{
    width: 100%;
    height: 300px;
    background-color:#052644;  
    display: flex;
    justify-content: center; 
    box-shadow: 0 4px 8px #000;
}

.titulo_pag2{
    display: flex;
    justify-content: center;
}

.titulo_pag2 h1{
    color: #ffffff;
    font-size: 600%;
    margin-top: 90px;
}

.titulo_pag_apoie{
    width: 100%;
    height: 300px;
    background-color:#052644;  
    display: flex;
    justify-content: center; 
    box-shadow: 0 4px 8px #000;
    color: #ffffff;
}

.titulo_pag figure{
    display: block;
    
}

.titulo_pag h1{
    width: 555px;
}

.tp{
    color: #ffffff;
    font-weight: 600;
    font-size: 220%;
    display: block;
    font-family: roboto;
    margin-top: 45px;

}

#t{
    font-size: 220%;
    display: block;
    font-family: roboto;
    font-weight: 600;
    color: #ffffff;
    transform:translate(100px,5px);
}

/* ---------------------------------------------------------------------- */

/* conteúdo */

#cursos{
    justify-content: none;
    width: 100%;
    background-color: #F4F6F7;
    display:flex;
    justify-content: space-around !important; 
}

.gray_box{
    width: 100%;
    background-color: #E5E7E9;
    display: flex;
    justify-content: center;
}
/*
.gray_box div h1{
    font-size: 220%;
    font-family: roboto;
    font-weight: 600;
    color: #ffffff;
}*/

.card{
    
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.card a{
    background-color: #020204;
    border: none;
}

.card a:hover{
    background-color: #172745;
}

.conteudo{
    min-height: 386px;
    display: flex;
    padding: 30px;
    width: 70%;
    align-content: space-around;
    position: relative;
    background-color: #ffffff;
    margin: 15px 0px;
}

.conteudo-column{
    min-height: 386px;
    padding: 30px;
    width: 60%;
    position: relative;
    background-color: #ffffff;
    margin: 0px 0px 15px 0px;
}

.titulo_curso{
    color: #012530;
    font-size: 220%;
    font-family: roboto;
    font-weight: 600;
}

hr{
    background-color: #1f67ae;
    height: 1.5px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-container button{
    background-color: #13378e;
    color: #ffffff;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-weight:600 ;
}

.flex-container button:hover{
    opacity: 0.8;
}

.texto-curso{
    text-align: justify;
    text-indent:3em
}

/* ---------------------------------------------------------------------- */

/* footer */

footer{
    background-color: #012530;
    margin-bottom: 0px;
    width: 100%;
    height: 300px;
    position: relative;
}


footer #footer-center{
    display: flex;
    height: 185px;
    justify-content: center;
    background-color: #012530;
    align-content: space-between;
}

footer .footer-itens{
    height: 100px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

footer .footer-itens:nth-child(1){
    width: 200px;
}


footer #footer-desc{
    height: 100px;
    width: 300px;
    margin:40px 0px 0px 30px;
    padding: 15px;
}

footer #footer-desc p{
    color: #ffffff;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 12px;
    opacity: 0.6;
}


footer #footer-desc img{
    width: 100px;
    height: 100px;
}

footer .footer-itens li{
    list-style: none;
}

footer .footer-itens a{
    color: white;
}

footer .footer-itens a:hover{
    text-decoration: none;
}

footer #copy{
    height: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 80px;
    position:absolute;
}

footer #copy p{
    margin-top: 10px;
    margin-left: 50px;
    position: absolute;
    opacity: 0.5;
}


/* ---------------------------------------------------------------------- */

/* overlay */

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  } 


/* ---------------------------------------------------------------------- */

/* login */

/* Full-width inputs */
.input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

.input-cidade{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}


/* Set a style for all buttons */
.btnform, button {
  background-color: #012530;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button, .btnform:hover {
  opacity: 0.9;
  color: #fff;
}

/* Extra style for the cancel button (red) */
.cancelbtn, .cadastro{
  width: auto;
  padding: 10px 18px;
  background-color: #012530;
}

.cancelbtn{
    background-color:#f44336 ;
}

/* Center the avatar image inside this container */
.titulo_container {
  text-align: center;
  margin: 24px 0 -1px 0;
  color:#012530;
  font-weight: 600;
}

/* Add padding to containers */
.container {
  padding: 15px;
}

.container:nth-child(1){
    margin-top: 25px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

#cadastro_flex{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Change styles for span and cancel button on extra small screens */



/* ---------------------------------------------------------------------- */

/* Redes Sociais */ 

.icon-bar {
    position: absolute;
    margin-top: 50px;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 75px;
    margin:0px 10px 10px 0px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #012530;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .instagram{
    background: rgb(221, 78, 83);
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .twitter {
    background: #1da1f2;
    color: white;
  }


 /* ---------------------------------------------------------------------- */

.media{
    align-items: center;
    flex-direction: column;
} 
.media div{
    align-items: center;
    flex-direction: column;
}


@media (max-width: 1040px){
    .conteudo-column iframe{
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 770px){

    header #form-header-responsive{
        display: inline-block;
        padding: 15px 10px;

    }

    header #menu_icon div{
        display: block;
    }

    header #menu_icon{
        display: inline-block;
        margin:15px 10px;
    }

    #menu ul{
        position: absolute;
        width: 70%;
        background-color: #050a14;
        flex-direction: column;
        margin-left: -70%;
    }

    #menu ul li{
        border-bottom: 1px solid white;
        border-top: 1px solid white;

    }

    #menu ul li form{
        display: none;
    }

    #btn-menu:checked ~ #menu ul{
        margin-left: 0;
    }

    .titulo_pag h1, .titulo_pag2 h1{
        display: none;
    }

    section .titulo_pag_apoie{
        display: none;
    }

    #cursos{
        
        flex-flow: wrap;
    }

    footer #footer-desc{
        display: none;
    }

    .conteudo{
        width: 95%;
    }

    .conteudo-column{
        width: 95%;
        padding: 10px;
    }
}

@media (min-width: 401px){
    .container {
        max-width: 500px;
        background-color: #fff;
    }
}
@media screen and (max-width: 400px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn, .cadastro, .signupbtn {
      width: 100%;
    }
  
    .container{
      background-color: #fff;
    }
  }

  @media screen and (max-width: 650px) {
    footer .footer-itens:nth-child(1){
        display: none;
    }
    .footer-itens {
        margin-left:-50px;
    }
  }