{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    APOIE-NOS
{% endblock title %}
{% block content %}

    <section class="titulo_pag_apoie" style="background-color: #10bbe2;">
        <h1 style="font-size: 600%; margin-top: 90px;"> CONTRIBUA :) </h1>
    </section>

    <section class="gray_box" style="background-color: #10bbe2;">
        <div class="center-itens">
            <figure >
                <a href="http://vaka.me/769805"><img src="static/img/vaca.png" alt="vakinha" style="width:330px; height:330px;"></a>
            </figure>
        </div>
    </section>
{% endblock content %}

