{% extends 'base.html' %}

{% block apoie %}
    <section class="titulo_pag" style="background-color: #0579ff;">
        <h1 align=center class="tp" style="font-size: 600%; margin-top: 90px;"> APOIE-NOS </h1>
    </section>
    <section class = "gray_box">
        <div class="conteudo" style="justify-content: space-around;">
            <div class="elemento-apoie">
                <p> qwijhiuqcuiqiwcqbwcbqbcbqwbcwq </p>
            </div>
            <figure class="elemento-apoie">
                <a href="http://vaka.me/769805"><img src="static/img/vaca.png" alt="vakinha" style="width:350px; height:350px;"></a>
            </figure>
        </div>
    </section>
{% endblock apoie %}
