{% extends 'base.html' %}

{% block content %}

    <section class="titulo_pag_apoie" style="background-color: #0579ff;">
        <h1 style="font-size: 600%; margin-top: 90px;"> APOIE-NOS </h1>
    </section>

    <section class = "gray_box" style="background-color: #0579ff;">
            <div >
                <h1> CONTRIBUA PARA</h1> <br/>
                <h1> UM ENSINO MELHOR</h1>
            </div>
            <figure >
                <a href="http://vaka.me/769805"><img src="static/img/vaca.png" alt="vakinha" style="width:330px; height:330px;"></a>
            </figure>
    </section>
{% endblock content %}
