{% extends 'base.html' %}
{% block title %}
    VIRTUAL TEACHING
{% endblock title %}

{% block content %}
<section class="titulo_pag2" style="background-color: #1f4988;">
    <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
    <h1>LÓGICA</h1>
</section>
<section class = "gray_box">
    <div class="conteudo-column">
        <br/>
        <h1 class="titulo_curso">OPERADORES</h1>
        <hr> <br/>
        
        <div class="texto-curso">
            <p>No contexto computacional, um operador é utilizado para relacionar valores e resultar em um outro valor. 
                Esse artíficio é essencial para o processamento dos dados trocados com o usuário, pois são os responsáveis 
                por construir grande parte da lógica presente nos nossos códigos. Há três tipos de operadores mais comuns 
                utilizados pelas linguagens de programação, que se alteram apenas na forma que são escritos. Dentre os tipos estão: </p>
        </div>

        <div class="lista-curso">
            <li><b>Operadores aritméticos </b>: São os operadores mais simples, eles se baseiam nas 4 operações matemáticas, soma, 
                sutração, multiplicação e divisão. </li> <br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img-curso/oparitmeticos.png" alt=""> <br/>
                </pre>
            </figure> <br/>

            <li><b>Operadores lógicos </b>: São operadores que comparam valores booleanos.</li> <br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img-curso/oplogicos.png" alt=""> <br/>
                </pre>
            </figure> <br/>

            <li><b>Operadores relacionais </b>: São operadores que comparam valores de qualquer tipo, retornando valores 
                booleanos(VERDADEIRO ou FALSO).</li> <br/>

            <figure class="highlight">
                <pre>
                    <img src="/static/img-curso/oprelacionais.png" alt=""> <br/>
                </pre>
            </figure> <br/>
        </div>

        <br/>
        <h1 class="titulo_curso">ESTRUTURAS DE DECISÃO</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p>Com o tempo nossos algoritmos precisarão tomar decisões ao longo de sua execução. Para nos auxiliar nesse contexto, 
                existem as estruturas de decisão, e a mais utilizada é a estrutura SE-ENTÃO-SENÃO. Seu funcionamento é bastante simples, 
                com base no resultado da sua condição, o fluxo do algoritmo segue para um bloco de instruções ou não. Observe o esquema:</p> <br/>
        </div>

        <figure class="highlight">
            <pre>
                <img src="/static/img-curso/se.png" alt=""> <br/>
            </pre>
        </figure> <br/>
        
        <div class="texto-curso">
            <p>O SENÃO da estrutura é opcional. É comum encontrar instruções de decisão apenas com SE-ENTÃO sem o bloco SENÃO. 
                Veja um exemplo.</p> <br/>

            <p>Outra estrutura de decisão é o ESCOLHA-CASO, pouco utilizado, mas útil para algumas ocasiões. 
                Segue o exemplo da estrutura:</p> <br/>
        </div>

        <figure class="highlight">
            <pre>
                <img src="/static/img-curso/escolha.png" alt=""> <br/>
            </pre>
        </figure> <br/>
        
        <br/>
        <h1 class="titulo_curso">ATIVIDADE</h1>
        <hr> <br/>
        <div class="texto-curso">
            <p> Como foi dito anteriormente, podemos dizer que a programação é simplesmente ensinar uma máquina a executar tarefas 
                e tomar decisões. Para fixar essa ideia na cabeça de vocês, iremos fazer nosso primeiro programa utilizando o Visualg.
                Para entrar no mundo da programação com o pé direito, todo programador Júnior deve executar, a princípio, o famoso "Hello 
                World!!". Para isso, digite os comandos abaixo:</p> 
        </div><br/>
        
        <div class="alert alert-primary" role="alert">
            <p> NOTA: Não se preocupe com os comandos precedidos de "//", eles são apenas comentários, 
                por isso não causarão interferência na execução do código. </p> 
        </div> <br/>

        <div class="texto-curso">
            <p> Agora que você executou seu primeiro programa, podemos continuar.</p> 
        </div> <br/>

        <a href="{{url_for('aula4L')}}"><button class="button"><span>PRÓXIMA AULA </span></button></a>
    </div>
</section>

{% endblock %}