<!doctype html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Virtual Teaching</title>

        <link rel="icon" type="imagem/png" href="static/img/meufavicon.png" />

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">

        
        {% block scripts %}
        {% endblock %}

        <script type="text/javascript">
        
            function login(){
                document.getElementById("cadastro").style.display = "none";
                document.getElementById("login").style.display = "block";
            }
            function off(){
                document.getElementById("login").style.display = "none";
                document.getElementById("cadastro").style.display = "none";
            }
            function cadastro(){
                document.getElementById("login").style.display = "none";
                document.getElementById("cadastro").style.display = "block";
            }
        </script>

    </head>

    <body>

        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">&#9776</label>
            <form action="https://www.google.com/search" id="form-header-responsive">
                <input type="text" name="q" placeholder="  Search" >                
            </form>

            <nav id="menu">
            
                <ul>
                    <li><a href="#">CURSOS</a></li>
                    <li><a href="#">APOIE-NOS</a></li>
                    <li><a href="#" onclick="login()">LOGIN</a></li>
                    <li><a href="#">E-BOOKS</a></li>
                    <li>
                        <form action="https://www.google.com/search">
                            <input type="text" name="q" placeholder="  Search">
                        </form>
                    </li>
                </ul>
            
            </nav>
            
        </header>

        {% block conteudo %}    
        {% endblock conteudo %}
                
        <footer>
            <div class="icon-bar">
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
            </div>
                        
            <div id="footer-center">

                <div id="footer-desc" >
                    <center>
                        <img src="static/img/footer.png" alt="logo do IF">
                    </center>
                    <p>lkeldwemflmwlefmlmwelfmlwmelfmlwmelfmkmflwmelfmlwmeflmwlf
                        wfkẃkefẃkefḱwékfpkwefkw
                        wefḱẃekfẃe
                        fkwefkẃeokf
                        wefkẃkefkwekwéfok
                    </p>
                </div>
                        
                <div class="footer-itens">
                    <ul>
                        <li><span style="font-weight: 600;">EMAIL PARA CONTATO</span> <br/> 
                            <a href="www.gmail.com">luizfelipegondimaraujo@gmail.com</a></li> <br/>
                        <li><span style="font-weight: 600;">ATENDIMENTO</span><br/> 
                            Todos os dias a partir das 19 horas até às 22 horas</li>
                    </ul>    
            
                </div>
                
            </div>

            <div id="copy">
                <p>&copy; Virtual Teaching</p>
            </div>
    
        </footer>
        <section class="overlay" id="login">  
            
            <div class="container">
                <div class="imgcontainer">
                    <img src="static/img/usuario.png" alt="Avatar" class="avatar" style="width: 150px; height: 150px">
                </div>
                <label for="uname"><b>Email</b></label>
                <input type="email" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Senha</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
        
                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Lembre-me
                </label>
            
            </div>
            
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn" onclick="off()">Cancelar</button>
                <button type="button" class="cadastro" onclick="cadastro()">Cadastre-se</button>
                <span class="psw">Esqueceu a <a href="#">senha?</a></span>
            </div>
        </section>

        <section class="overlay" id="cadastro">
            <form>
                <div class="container" style="margin-top: 10px;">
                    <label>Email</label>
                    <input type="email" placeholder="Email">

                    <label >Senha</label>
                    <input type="password" placeholder="Senha">

                    <label > Repita a senha</label>
                    <input type="text"  placeholder="Repita a senha">

                    <label>CPF</label>
                    <input type="text" placeholder="Digite o CPF sem os caracteres especiais">
                
                    <label style="display: block;">Cidade</label>
                    <input type="text" style="width:60%;">
                
                    <label> &nbsp&nbsp&nbsp&nbsp Estado</label>
                    <select style="width: 10%;">
                      <option></option>
                      <option>...</option>
                    </select>
                    <button type="button" class="cancelbtn" onclick="off()">Cancelar</button>
                    <button type="submit" class="signupbtn">Sign in</button>
                </div>
            </form> 
        </section>
        
    </body>
</html>