<!doctype html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock title %}</title>

        <link rel="icon" type="imagem/png" href="static/img/meufavicon.png" />

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">


    </head>

    <body>

        <header>

            <input type="checkbox" id="btn-menu">
            <label id="menu_icon" for="btn-menu">
                <div></div>
                <div></div>
                <div></div> 
            </label>

            <form action="https://www.google.com/search" id="form-header-responsive">
                <input type="text" name="q" placeholder="  Search" >                
            </form>

            <nav id="menu">
            
                <ul>
                    
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/login">LOGIN</a></li> 
                    <li><a href="/cadastro">CADASTRO</a></li> 
                    
                    {% if current_user.is_authenticated %}
                        <li><a href="/logout">SAIR</a></li>  
                    {% endif %}
                    
                    <li>
                        <form action="https://www.google.com/search">
                            <input type="text" name="q" placeholder="  Search">
                        </form>
                    </li>
                </ul>
            
            </nav>
            
        </header>

        {% block content %}    
        {% endblock content %}
                
        <footer>
            
                        
            <div id="footer-center">
                <div class="footer-itens">
                    <div class="icon-bar">
                        <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a> </br>
                        <a href="https://www.youtube.com/" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>

                        
                <div class="footer-itens" style="margin-top:50px;">
                    <ul>
                        <li><span style="font-weight: 600;">EMAIL PARA CONTATO</span> <br/> 
                            <a href="www.gmail.com">luizfelipegondimaraujo@gmail.com</a></li> <br/>
                        <li><span style="font-weight: 600;">ATENDIMENTO</span><br/> 
                            De Segunda a Sexta, das 19h00 às 22h00 </li>
                    </ul>    
            
                </div>
                <div id="footer-desc" >
                        <center>
                            <img src="static/img/footer.png" alt="logo do IF">
                        </center>
                        <p>
                            Maecenas lobortis sit amet ipsum ut finibus. 
                            Curabitur eu erat eu nibh congue auctor vel vestibulum ipsum.
                        </p>
                 </div>
            </div>
        </footer>
    </body>
</html>