<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <link rel="icon" type="imagem/png" href="static/img/meufavicon.png" />

    <title>Cadastro</title>
</head>
<body style="background:  #050a14;">
    
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning"
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    <div id="cadastro_flex">
        <form action="" method="POST">
            <div class="container" style="margin:10px 0px;">
                 <h1 class="titulo_container">CADASTRO</h1> <br/><br/>

                {{form.csrf_token}}
                {{ form.hidden_tag() }}

                {{form.username.label}}
                {{form.username(class_="input")}}

                {% if form.errors.username %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form.errors.username %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{form.email.label}}
                {{form.email(class_="input")}}


                {% if form.errors.email %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form.errors.email %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{form.senha.label}}
                {{form.senha(class_="input")}}


                {% if form.errors.senha %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form.errors.senha %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{form.repita_senha.label}}
                {{form.repita_senha(class_="input")}}


                {% if form.errors.repita_senha %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form.errors.repita_senha %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <br/><br/><br/>
                <button type="submit" class="btnform"> Cadastrar</button>
            </div>
        </form>
    </div> 
    
</body>
</html>