{% extends 'base.html' %}

{% block conteudo %}

{% block scripts %}

{% endblock %}

<section id="titulo_pag">
  <figure><img src="static/img/vt.png" style="width:300px; height: 300px; margin:auto"></figure>
  <h1><span id="v"> VIRTUAL </span> <span id="t"> TEACHING </span></h1>
</section>

<section class = "gray_box">
  <div class="conteudo">
      COMANDO LINUX

limpar tela: clear

caminho de diretórios: pwd

entrar em diretórios: cd

listar arquivos: ls

para voltar uma pasta por vez: cd ..

para voltar para a pasta usuário: cd ~

remover arquivos: rm (nome do arquivo (um ou mais))

remover todos os arquivos: rm *

remover um diretóro: rm -rf

especificações do PC: lspci

criar pasta: mkdir

editor de texto: nano

-------------------------------------------------------
Cria a lista do que precisa atualizar: sudo apt update

Atualiza: sudo apt upgrade
-------------------------------------------------------
Primeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitar
Primeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitarPrimeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitarPrimeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitarPrimeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitarPrimeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitarPrimeiro: Criar pasta pra instalar o virtual env
Segundo: virtualenv -p python3 env
Terceiro: source env/bin/activate
Quarto: pip install flask
Quinto: entrar na no arquivo .py para começar a digitar




  </div>
</section>

<section id="cursos">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/img/web.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Web Design</h5>
      <p class="card-text">O objetivo desse curso é fazer com que o aluno tenha um conhecimento básico das linguagens HTML e CSS.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ">
    <img class="card-img-top" src="static/img/logica.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Lógica de Programação</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="static/img/sistemas.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Sistemas Operacionais</h5>
      <p class="card-text">Nesse curso será abordado os conceitos principais, características e processos dos Sistemas Operacionais.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>
        
</section>

<section class = "gray_box">
    <div class="conteudo">
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 386px;
        padding: 30px 0;
    </div>
</section>

    

    {% endblock conteudo %}