{% extends 'base.html' %}

{% block conteudo %}
<section id="resumo">
                    
</section>

<section id="cursos">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/img/web.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Web Design</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ">
    <img class="card-img-top" src="static/img/logica.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Lógica de Programação</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="static/img/sistemas.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Sistemas Operacionais</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Iniciar</a>
    </div>
  </div>
        
</section>


    

    {% endblock conteudo %}