{% extends 'base.html' %}
{% block title %}
    VIRTUAL TEACHING
{% endblock title %}
{% block content %}

<section class="titulo_pag">
  <figure>
    <img src="static/img/vt.png" style="width:300px; height: 300px; margin:auto">
  </figure>
  <h1><span class="tp"> VIRTUAL </span> <span id="t"> TEACHING </span></h1>
</section>

<section class = "gray_box">
  <div class="conteudo">
      <br/>
      <h1 class="titulo_curso">IMPORTÂNCIA DA INFORMÁTICA</h1>
      <div class="texto-curso">
          <br/><br/>
          <p>O curso de Lógica de Programação é recomendado para todos aqueles que querem iniciar nesse no mundo, pois fornecerá uma 
              base sólida que facilitará a aprendizagem das demais linguagens do mercado, como C, Java, Python, entre outros. </p>

          <p> Será utilizado o Portugol para demonstrar a lógica básica e as estruturas mais utilizadas no universo da programação. 
              Essa pseudo-linguagem será utilizada porque ela é o que há de mais próximo do português, o que facilita na aprendizagem 
              do aluno.</p>
      </div>
      
  </div>
</section>

<section id="cursos">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="static/img/web.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">HTML</h5>
      <p class="card-text">O objetivo desse curso é fazer com que o aluno tenha um conhecimento básico da linguagem de marcação HTML.</p>
      {% if current_user.is_authenticated %}
        <a href="{{url_for('html')}}" class="btn btn-primary">Iniciar</a>
      {% else %} 
        <a href="{{url_for('login')}}" class="btn btn-primary">Iniciar</a>
      {% endif %}
      
    </div>
  </div>

  <div class="card" style="width: 18rem; ">
    <img class="card-img-top" src="static/img/logica.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">LÓGICA</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      {% if current_user.is_authenticated %}
        <a href="{{url_for('logica')}}" class="btn btn-primary">Iniciar</a>
      {% else %} 
        <a href="{{url_for('login')}}" class="btn btn-primary">Iniciar</a>
      {% endif %}
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img class="card-img-top" src="static/img/sistemas.png" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">SISTEMAS OPERACIONAIS</h5>
      <p class="card-text">Nesse curso será abordado os conceitos principais, características e processos dos Sistemas Operacionais.</p>
      {% if current_user.is_authenticated %}
        <a href="{{url_for('sistemas')}}" class="btn btn-primary">Iniciar</a>
      {% else %} 
        <a href="{{url_for('login')}}" class="btn btn-primary">Iniciar</a>
      {% endif %}
    </div>
  </div>
        
</section>

<section class = "gray_box">
    <div class="conteudo">
      <div id="autor">

          <figure>
              <img src="static/img/autor.jpeg" class="rounded-circle account-img">
          </figure>

          <p> Será utilizado o Portugol para demonstrar a lógica básica e as estruturas mais utilizadas no universo da programação. 
              Essa pseudo-linguagem será utilizada porque ela é o que há de mais próximo do português, o que facilita na aprendizagem 
              do aluno.</p>

      </div>
    </div>
</section>
{% block content_home %}

{% endblock %}

{% endblock content %}