{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Login
{% endblock title %}

{% block content %}

    <body style="background:  #050a14">

        <div id="cadastro_flex">
            <form action="/login" method="POST">  
                <div class="container" style="margin:10px 0px;">
                    <h1 class="titulo_container">LOGIN</h1> <br/><br/> 
                    {{form.csrf_token}}

                    {{form.email.label}}
                    {{form.email(class_="input")}}

                    {{form.senha.label}}
                    {{form.senha(class_="input")}} 
            
                    {{form.entrar(class_="btnform")}}
                    
                    <div class="container" style="background-color:#f1f1f1">
                            <a href="/index"><button type="button" class="cancelbtn" action="/index">Cancelar</button></a>
                            <a href="/cadastro"><button type="button" class="verde">Cadastre-se</button></a>
                    </div> 
                </div>
                
            </form>
        </div> 
    </body>
  
{% endblock content %}
