{% extends 'base.html' %}
{% block title %}
    LÓGICA
{% endblock title %}
{% block content %}
    <section class="titulo_pag2" style="background-color: #1f4988;">
        <figure><img src="static/img/logo-lp.png" style="width:300px; height: 300px; margin:auto"></figure>
        <h1>LÓGICA</h1>
    </section>
    <section class = "gray_box">
        <div class="conteudo-column">
                <br/>
                <h1 class="titulo_curso">INTRODUÇÃO</h1>
                <hr> <br/>
                <div class="texto-curso">
                    <p>O curso de Lógica de Programação é recomendado para todos aqueles que querem iniciar nesse no mundo, pois fornecerá uma 
                        base sólida que facilitará a aprendizagem das demais linguagens do mercado, como C, Java, Python, entre outros. </p>

                    <p> Será utilizado o Portugol para demonstrar a lógica básica e as estruturas mais utilizadas no universo da programação. 
                        Essa pseudo-linguagem será utilizada porque ela é o que há de mais próximo do português, o que facilita na aprendizagem 
                        do aluno. Se inspire com o video a seguir:</p>
                </div>
                <br/><br/><br/>
                <center>
                    <iframe width="560" height="315" 
                        src="https://www.youtube.com/embed/mHW1Hsqlp6A" frameborder="0" controls allowfullscreen></iframe>
                </center>
                <br/><br/><br/>
                

                <h1 class="titulo_curso"> AULAS </h1>
                <hr><br/>
            <div class="flex-container" style="justify-content: space-around;">
                    <a href="{{url_for('aula1L')}}"><button type="button" title="Preparando o ambiente e primeiro programa"> AULA 01 </button></a>
                    <a href="{{url_for('aula2L')}}"><button type="button" title=""> AULA 02 </button></a>
                    <a href="{{url_for('aula3L')}}"><button type="button" title=""> AULA 03 </button></a>
                    <a href="{{url_for('aula4L')}}"><button type="button" title=""> AULA 04 </button></a>
            </div>
        </div>
    </section>

    <script>
        function concluir(){
            document.getElementById("button-curso").style.background = 'red';
        }
    </script>
{% endblock content %}