{% extends 'base.html' %}
{% block title %}
    S.O.
{% endblock title %}
{% block content %}
    <section class="titulo_pag2" style="background-color: #2451a6;">
        <figure><img src="static/img/logo-os.png" style="width:300px; height: 300px; margin:auto"></figure>
        <h1> O.S.</h1>
    </section>
    <section class = "gray_box">
            <div class="conteudo-column">
                <br/>
                <h1 class="titulo_curso">INTRODUÇÃO</h1>
                <hr>

                <div class="texto-curso">
                    <p>O curso de Sistemas Operacionais é voltado para os alunos que queiram conhecer a história, as características, o funcionamento 
                        e a estrutura dos sistemas operacionais. Isso criará uma base forte, para que possam conhecer melhor o mundo tecnológico, uma 
                        vez que os SO's estão cada vez mais presentes nos variados eletrônicos da atualidade. </p>

                    <p> Um Sistema Operacional é um programa, que promove uma interface entre os aplicativos (software) e a parte física do sistema 
                        (hardware), e tem a função de gerenciar seus recursos. Além disso ele pode ser definido também como um conjunto de programas 
                        especialmente feitos para a execução de várias tarefas, entre as quais servir de intermediário entre o utilizador e o computador 
                        e gerenciais os periféricos de um computador.</p>
                </div>

                <br/><br/><br/>
                <center>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9rC9GilX1Io?start=8" 
                        frameborder="0" controls allowfullscreen></iframe>
                </center>
                <br/><br/><br/>
                <h1 class="titulo_curso"> AULAS </h1>
                <hr><br/>
                <div class="flex-container" style="justify-content: space-around;">
                    <a href="#"><button type="button" title=""> AULA 01 </button></a>
                    <a href="#"><button type="button" title=""> AULA 02 </button></a>
                    <a href="#"><button type="button" title=""> AULA 03 </button></a>
                    <a href="#"><button type="button" title=""> AULA 04 </button></a>
                </div>
            </div>
        </section>
{% endblock content %}