{% extends 'base.html' %}

{% block content %}
    <section class="titulo_pag" style="background-color: #2451a6;">
        <figure><img src="static/img/logo-os.png" style="width:300px; height: 300px; margin:auto"></figure>
        <h1> O.S.</h1>
    </section>
    <section class = "gray_box">
            <div class="conteudo-column">
                    <br/>
                    <h1 class="titulo_curso">INTRODUÇÃO</h1>
                    <hr>
    
                    <br/><br/><br/>
                    <center>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9rC9GilX1Io?start=8" 
                            frameborder="0" controls allowfullscreen></iframe>
                    </center>
                    <br/><br/><br/>
                <div class="flex-container" style="justify-content: space-around;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
            </div>
        </section>
{% endblock content %}