{% extends 'base.html' %}
{% block title %}
    HTML
{% endblock title %}
{% block content %}
    <section class="titulo_pag2" style="background-color: #295dba;">
        <figure><img src="static/img/logo-web.png" style="width:300px; height: 300px; margin:auto"></figure>
        <h1>HTML</h1>
    </section>
    <section class = "gray_box">
            <div class="conteudo-column">
                <br/>
                <h1 class="titulo_curso">INTRODUÇÃO</h1>
                <hr> <br/>

                <div class="texto-curso">
                        <p>O curso de HTML abordará os principais e mais básicos recursos e estruturas para o desenvolvimento de uma plataforma web. </p>
                        <p>A linguagem HTML (Hypertext Markup Language) é uma linguagem de marcação que tem o objetivo de exibir, estruturar e 
                            organizar documentos web através de marcações especiais denominadas tags, para que possam ser exibidos de forma apropriada por 
                            meio dos browsers quando um usuário solicita uma página. Sendo assim, o entendimento dessa linguagem é fundamental para compreensão 
                            nossos próprios sites.</p>
                    </div><br/><br/>

                <center>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lg49Rm9SkfE" 
                            frameborder="0" allowfullscreen></iframe>
                </center>
                <br/><br/><br/>
                <h1 class="titulo_curso"> AULAS </h1>
                <hr><br/>
                <div class="flex-container" style="justify-content: space-around;">
                    <a href="{{url_for('aula1H')}}"><button type="button" title=""> AULA 01 </button></a>
                    <a href="{{url_for('aula2H')}}"><button type="button" title=""> AULA 02 </button></a>
                    <a href="{{url_for('aula3H')}}"><button type="button" title=""> AULA 03 </button></a>
                    <a href="{{url_for('aula4H')}}"><button type="button" title=""> AULA 04 </button></a>
                </div>
            </div>
        </section>
{% endblock content %}